* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

/* nav */

nav,
button {
    background-color: #2C3E50;
}

nav .row .col-6 {
    height: 80px;  
}

nav .row .col-6 section {
    height: 100%;
}

nav .row .col-6 section .button_cont button {
    font-size: 25px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* / nav */

/* section jumbotron */

#jumbo_cont {
    height: 600px;
    background-color: #1ABC9C;
}

#jumbo_cont .row .col-12 .col-4 {
    height: 550px;
}

#jumbo_cont .jumbo_image_star_text_cont .jumbo_image {
    width: 45%;
}

#jumbo_cont .jumbo_image_star_text_cont .jumbo_image img {
    width: 100%;
}

#jumbo_cont .jumbo_image_star_text_cont h1 {
    font-size: 60px;
    color: white;
}

#jumbo_cont .jumbo_image_star_text_cont .star_lines .line {
    width: 150px;
    height: 4px;
    background-color: white;
}

#jumbo_cont .jumbo_image_star_text_cont .star_lines i {
    color: white;
    font-size: 30px;
}

#jumbo_cont .jumbo_image_star_text_cont p {
    color: white;
    font-size: 25px;
}

/* / section jumbotron */

/* / HEADER */


/* MAIN */

/* section portfolio */

#portfolio {
    min-height: 700px;
}

#portfolio .container .col-12 {
    padding-top: 50px;
}

#portfolio .container .col-12 h1 {
    font-size: 50px;
    color: #2C3E50;
}

#portfolio .container .col-12 .line_star_cont .line {
    width: 150px;
    height: 4px;
    background-color: #2C3E50;
}

#portfolio .container .col-12 .line_star_cont i {
    color: #2C3E50;
    font-size: 30px;
}

#portfolio .container .row .col-12 .img_cont {
    width: 600px;
}

#portfolio .container .row .col-12 .img_cont img {
    width: 100%;
    border-radius: 25px;
}

/* / section portfolio */


/* section about */

#about {
    height: 500px;
    background-color: lightcoral;
}

#about .container .col-12 {
    height: 100px;
    background-color: orangered;
}

#about .container .row .col-1 {
    min-width: 100px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50px;
}

#about .container .row .col-5 {
    height: 300px;
    background-color: palegreen;
    border: 1px solid black;
}

/* / section about */


/* contact me */

#contact-me {
    height: 500px;
    background-color: lightsalmon;
}

#contact-me .container .col-12 {
    height: 100px;
    background-color: orangered;
}

#contact-me .container .row {
    line-height: 50px;
    border-bottom: 1px solid black;
}

#contact-me .container .row:nth-of-type(5) {
    height: 200px;
}

#contact-me .container .col-1 {
    line-height: 50px;
}

/* / contact me */

/* / MAIN */


/* FOOTER */

footer #footer-top {
    height: 150px;
    background-color: grey;
}

footer #footer-bottom {
    height: 100px;
    background-color: lightgrey;
}

footer .row {
    display: flex;
    justify-content: center;
}

footer .row .col-3 {
    height: 100px;
    background-color: peru;
    border: 1px solid black;
}

footer .row .col-12 {
    height: 100px;
    background-color: peru;
    border: 1px solid black;
}

/* / FOOTER */