* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

/* nav */

nav .row .col-6.bg-blue {
    height: 80px;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

nav .row .col-6.bg-blue section {
    height: 100%;
    background-color: lightslategray;
}

/* / nav */

/* section jumbotron */

#jumbotron {
    height: 600px;
    background-color: lightcoral;
}

.col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo-image {
    width: 800px;
    height: 550px;
    background-color: lightgreen;
}

/* / section jumbotron */

/* / HEADER */


/* MAIN */

/* section portfolio */

#portfolio {
    height: 700px;
    background-color: lightsalmon;
}

#portfolio .container .col-12 {
    height: 200px;
    background-color: orangered;
}

#portfolio .container .row {
    display: flex;
    justify-content: center;
}

#portfolio .container .row .col-2 {
    height: 200px;
    background-color: grey;
    border: 1px solid black;
}

/* / section portfolio */


/* section about */

#about {
    height: 500px;
    background-color: lightcoral;
}

#about .container .col-12 {
    height: 100px;
    background-color: orangered;
}

#about .container .row {
    display: flex;
    justify-content: center;
}

#about .container .row .col-1 {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50px;
    align-self: center;
}

#about .container .row .col-5 {
    height: 300px;
    background-color: palegreen;
    border: 1px solid black;
}

/* / section about */


/* contact me */

#contact-me {
    height: 500px;
    background-color: lightsalmon;
}

#contact-me .container .col-12 {
    height: 100px;
    background-color: orangered;
}

#contact-me .container .row {
    line-height: 50px;
    border-bottom: 1px solid black;
}

#contact-me .container .row:nth-of-type(5) {
    height: 200px;
}

#contact-me .container .col-1 {
    line-height: 50px;
}

/* / contact me */

/* / MAIN */