* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

/* nav */

nav .row .col-6.bg-blue {
    height: 80px;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

nav .row .col-6.bg-blue section {
    height: 100%;
    background-color: lightslategray;
}

/* / nav */

/* section jumbotron */

#jumbotron {
    height: 600px;
    background-color: lightcoral;
}

.col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo-image {
    width: 800px;
    height: 550px;
    background-color: lightgreen;
}

/* / section jumbotron */

/* / HEADER */


/* MAIN */

/* section portfolio */

#portfolio {
    height: 700px;
    background-color: lightsalmon;
}

#portfolio .col-12 {
    height: 200px;
    background-color: orangered;
}

#portfolio .row {
    display: flex;
    justify-content: center;
}

#portfolio .row .col-2 {
    height: 200px;
    background-color: grey;
    border: 1px solid black;
}








/* / section portfolio */

/* / MAIN */