* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

/* nav */

nav .row .nav_bg_blue {
    height: 80px;
    background-color: lightblue;
    border: 1px solid black;
}

nav .row .nav_bg_blue section {
    height: 100%;
    background-color: lightslategray;
}

/* / nav */

/* section jumbotron */

#jumbo-cont {
    height: 600px;
    background-color: lightcoral;
}

.jumbo-image {
    max-width: 550px;
    height: 550px;
    background-color: lightgreen;
}

/* / section jumbotron */

/* / HEADER */


/* MAIN */

/* section portfolio */

#portfolio {
    min-height: 700px;
    background-color: lightsalmon;
}

#portfolio .container .col-12 {
    height: 200px;
    background-color: orangered;
}

#portfolio .container .row .col-12 {
    height: 200px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 20px;
}

/* / section portfolio */


/* section about */

#about {
    height: 500px;
    background-color: lightcoral;
}

#about .container .col-12 {
    height: 100px;
    background-color: orangered;
}

#about .container .row .col-1 {
    min-width: 100px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50px;
}

#about .container .row .col-5 {
    height: 300px;
    background-color: palegreen;
    border: 1px solid black;
}

/* / section about */


/* contact me */

#contact-me {
    height: 500px;
    background-color: lightsalmon;
}

#contact-me .container .col-12 {
    height: 100px;
    background-color: orangered;
}

#contact-me .container .row {
    line-height: 50px;
    border-bottom: 1px solid black;
}

#contact-me .container .row:nth-of-type(5) {
    height: 200px;
}

#contact-me .container .col-1 {
    line-height: 50px;
}

/* / contact me */

/* / MAIN */


/* FOOTER */

footer #footer-top {
    height: 150px;
    background-color: grey;
}

footer #footer-bottom {
    height: 100px;
    background-color: lightgrey;
}

footer .row {
    display: flex;
    justify-content: center;
}

footer .row .col-3 {
    height: 100px;
    background-color: peru;
    border: 1px solid black;
}

footer .row .col-12 {
    height: 100px;
    background-color: peru;
    border: 1px solid black;
}

/* / FOOTER */